/*
font-family: 'Chronicle Display';
font-weight: 600; или bold
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy';
  background-color: #0B1D26;
  background-image: url("./../img/bg/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
}

.container-wide {
  margin: 0 auto;
  width: 1760px;
  padding: 0 15px;
}

.container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* --------------- HEADER --------------- */

.header {
  padding-top: 64px;
  padding-bottom: 843px;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: 'Chronicle Display';
  font-size: 32px;
  font-weight: 700;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
}

.nav li {
  padding: 0;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
  margin-bottom: 5px;
}

.nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FBD784;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.nav a:hover::after {
  bottom: -5px;
  opacity: 1;
}

.nav a:hover {
  color: #FBD784;
}

.account {
  position: relative;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.account::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('./../img/icons/account.svg');
  background-size: contain;
}

.account:hover {
  color: #FBD784;
}

/* --------------- HERO --------------- */
.hero {
  display: block;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition: transform 0.5s cubic-bezier(0.560, 0.400, 0.325, 1.180);
}

.hero:hover {
  transform: translateY(-5%);
}

.hero-category {
  margin-bottom: 32px;
  position: relative;
  padding-left: 104px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: #FBD784;
}

.hero-category::before {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}

.hero-title {
  margin-bottom: 32px;
  font-family: 'Chronicle Display';
  font-weight: 500;
  font-style: normal;
  font-size: 88px;
  line-height: 114%;
  text-transform: capitalize;
  color: white;
}

.hero-scroll {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: white;
  padding-right: 32px;
}

.hero-scroll::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 24px;
  background-image: url('./../img/icons/arrow-down.svg');
}

/* --------------- MAIN --------------- */



/* --------------- ARTICLE --------------- */
.article {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article-text {
  position: relative;
  padding-left: 150px;
  max-width: 782px;
}

.article-text::before {
  left: 0;
  top: 0;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 240px;
  line-height: 100%;
  color: white;
  opacity: 0.1;
}

.article-subtitle {
  margin-bottom: 32px;
  position: relative;
  padding-left: 96px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: #FBD784;
}

.article-subtitle::before {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}

.article-title {
  margin-bottom: 27px;
  max-width: 555px;
  font-family: 'Chronicle Display';
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-size: 64px;
  color: white;
}

.article-text p {
  margin-bottom: 27px;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: white;
}

.article-read-more {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #FBD784;
  padding-right: 40px;
  text-decoration: none;
}

.article-read-more::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 16px;
  background-image: url('./../img/icons/arrow-right.svg');

}

.article-img img {
  display: block;
}

/* --------------- FOOTER --------------- */
.footer {
  margin-bottom: 120px;
  max-height: 280px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 280px;
}

.footer-copyright-logo {
  margin-bottom: 24px;
}


.footer-copyright-desc {
  max-width: 303px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
}

.footer-copyright-terms {
  margin-bottom: 0;
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  opacity: 0.5;
}

.footer-nav {
  max-height: 280px;
  max-width: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
}

.footer-nav + .footer-nav {
  margin-left: 212px;
}

.footer-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-nav li {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav a {
  position: relative;
 text-decoration: none;
 color: white;
 padding-bottom: 5px;
}

.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -15px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.footer-nav a:hover::after {
  bottom: -5px;
  opacity: 1;
}


.footer-nav-wrapper {
  display: flex;
}

.footer-nav-title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #FBD784;
}

