/*
font-family: 'Chronicle Display';
font-weight: 600; или bold
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy';
  background-color: #0B1D26;
  background-image: url("./../img/bg/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
}

.container-wide {
  margin: 0 auto;
  width: 1760px;
  padding: 0 15px;
}

.row {
  display: flex;
}

.space-beetween {
  justify-content: space-between;
}

/* --------------- HEADER --------------- */

.header {
  padding-top: 64px;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: 'Chronicle Display';
  font-size: 32px;
  font-weight: 700;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
}

.nav li {
  padding: 0;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.nav a:hover {
  color: #FBD784;
}

.account {
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.account:hover {
  color: #FBD784;
}